$headerBorderColor: #F0F2F3;
$mainBorderColor: #E5E5E5;
$secondaryBorderColor: #F2F2F2;

$activeColor: #FF4F49;

$mainBackColor: #F5F5F5;

$mainTextColor: #000;
$secondaryTextColor: #7F8285;
$linkTextColor: #1774E9;

$screen-m: 1024px;