.Highlighter {
	&_lang {
		&_py .Highlighter-El_color {
			&_comment {
				color: #8694a2;
			}

			&_default {
				color: #01234b;
			}

			&_second {
				color: #005fba;
			}
		}

		&_js .Highlighter-El_color {
			&_comment {
				color: #8694a2;
			}

			&_default {
				color: #01234b;
			}

			&_second {
				color: #005fba;
			}

			&_system {
				color: #0433ff;
			}
		}
	}
}
