@import './../../constants';

.Search {
	height: 30px;

	&-Input {
        height: 100%;
        width: 58px;
        padding: 5px;
        
        transition: width 300ms;
        box-sizing: border-box;
        
        border: 1px solid $secondaryBorderColor;

		&:focus {
			width: 200px;
		}
	}
}
