@import "./../../constants";

.Line {
	margin: 0;
	padding: 0;

	display: flex;
	justify-content: space-between;

	list-style-type: none;

	&-Field {
        margin-right: 10px;
        
        position: relative;
		overflow: hidden;

		&:last-child {
			text-align: right;
		}

		&_withIcon {
			.Line-Text {
                margin-left: 14px;
                
                display: inline-block;
			}
		}

		&_grow {
			&_default {
				flex: 2;
			}

			&_medium {
				flex: 3;
			}

			&_long {
				flex: 6;
			}
		}
	}

	&-Text {
		white-space: nowrap;
	}

	&-Icon {
		left: 0;
		top: 5px;

		position: absolute;
	}
}
