@import "../../constants";

.Dropdown {
	height: 100%;

	display: inline-flex;
	align-items: center;
	position: relative;

	&-Toggler {
		display: flex;
		align-items: center;
		cursor: pointer;

		font-family: inherit;

		color: $mainTextColor;
		background: transparent;
		border: none;
	}

	&-Title {
		margin-right: 3px;
		right: -17px;

		font-weight: 700;
	}

	&-Arrow {
		width: 27px;
		height: 6px;
		right: -17px;

		position: absolute;

		svg {
			height: 6px;
			width: 10px;
			top: 50%;
			right: 0;
			transform: translateY(-50%);

			fill: $mainTextColor;

			display: block;
			position: absolute;
		}
	}

	&:hover &-List {
		display: block;
	}

	&-List {
		width: 100%;
		top: 100%;
		padding: 15px;
		min-width: 150px;

		position: absolute;
		display: none;
		box-sizing: border-box;
		z-index: 10;

		box-shadow: 0px 5px 10px -1px rgba(0, 0, 0, 0.2);
		background: #fff;
	}

	&-Item {
		margin-top: 10px;

		&:first-child {
			margin-top: 0;
		}
	}

	&_color_secondary {
		.Dropdown-Toggler {
			color: $secondaryTextColor;
		}

		.Dropdown-Arrow svg {
			fill: $secondaryTextColor;
		}
	}
}
